.wording {
	position:absolute;
	top: 65%;
	left: 40%;
	font-size: 20px;
}

.loader {
  position:absolute;
  top: 50%;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ad0c02;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

